# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
.env
.env.local

# Docker
.dockerignore
*.log
docker-compose.log
build/
dist/

# Datenbank
energy.db
*.db-journal

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Test
htmlcov/
.coverage